src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" 
  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
  xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
  xmlns:spring="http://www.springframework.org/schema/beans" 
  xmlns="http://www.mulesoft.org/schema/mule/core"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:file="http://www.mulesoft.org/schema/mule/file"
  xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
  xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="${http.port}" doc:name="HTTP Listener Configuration"/>
    <queued-asynchronous-processing-strategy name="Queued_Asynchronous_Processing_Strategy" maxThreads="80" minThreads="16" threadTTL="10000" doc:name="Queued Asynchronous Processing Strategy"/>

  <flow name="AuctionService" >
        <http:listener config-ref="HTTP_Listener_Configuration" path="/bids" allowedMethods="POST" doc:name="HTTP"/>
    <object-to-string-transformer doc:name="Object to String"/>
    <logger level="INFO" message="Consumed message: #[payload]" doc:name="Log Payload"/>
    <logger level="INFO" message="At time: #[function:now]" doc:name="Log TimeStamp"/>
        <request-reply doc:name="Request-Reply">
            <vm:outbound-endpoint exchange-pattern="one-way" path="splits.bids" doc:name="VM:splits.bids"/>
            <vm:inbound-endpoint exchange-pattern="one-way" path="auction.service" doc:name="VM:auction.service"/>
        </request-reply>
        <set-payload value="#['{ &quot;winner&quot; : &quot;' + payload + '&quot; }']" doc:name="Set Payload"/>
    <!-- vm endpoint responsible for pushing result back to test -->
  </flow>
    <flow name="spitsBidsFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="splits.bids" doc:name="VM:splits.bids"/>
        <set-variable variableName="MULE_REPLYTO_STOP" value="true" doc:name="Variable:MULE_REPLYTO_STOP"/>
        <dw:transform-message doc:name="Transform Message: Split by new line" metadata:id="734b7aaa-a345-4206-ac52-316f4c3deb6e">
            <dw:input-payload mimeType="application/java"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
payload splitBy '\n']]></dw:set-payload>
        </dw:transform-message>
        <collection-splitter doc:name="Collection Splitter"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="process.bids" doc:name="VM:process.bids"/>
    </flow>
    <flow name="processBidFlow" processingStrategy="Queued_Asynchronous_Processing_Strategy">
        <vm:inbound-endpoint exchange-pattern="one-way" path="process.bids" doc:name="VM:process.bids"/>
        <component class="com.mulesoft.EnricherAuctionComponent" doc:name="EnrichBids Java Component"/>
        <logger message="#['\n\n Node ##### ' + mule.nodeId + 'Process Bid #### ' + payload]" level="INFO" doc:name="Logger: show node and payload"/>
        <collection-aggregator failOnTimeout="true" doc:name="Collection Aggregator"/>
        <component class="com.mulesoft.HighestBidderAuctionComponent" doc:name="Highest Bidder Java Component"/>
        <logger message="Highest Bidder: #[payload]" level="INFO" doc:name="Log Payload"/>
        <logger message="At time: #[function:now]" level="INFO" doc:name="Log TimeStamp"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="auction.service" doc:name="VM: auction.service"/>
    </flow>

</mule>
